@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

body {
    font-family: 'Pokemon Solid', sans-serif;
    background-color: #369;
    color: #FFCB05;
    -webkit-text-stroke: 2px #3466AF;
    text-shadow: 0px 0px 10px #000000;
}

#list {
    font-size: 25px;
    overflow: auto;
    height: 750px;
    box-shadow: 0px 0px 10px #000000;
}

#list-panel h1 {
    font-size: xx-large;
    color: white;
    -webkit-text-stroke: 1px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#list-panel h2 {
    font-size: large;
    color: white;
    -webkit-text-stroke: 1px black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#show-cardset {
    text-align: center;
}

#show-cardset img {
    width: 300px; /* Set your fixed width */
    height: 200px; /* Set your fixed height */
    object-fit: contain; /* or "contain" depending on your preference */
}

#show-cardset h1 {
    font-family: 'Pokemon Solid', sans-serif;
    color: #FFCB05;
    -webkit-text-stroke: 2px #3466AF;
}

#show-cardset h2 {
    font-size: x-large;
    color: white;
    -webkit-text-stroke: 1px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#show-cardset h3 {
    font-size: x-large;
    color: white;
    -webkit-text-stroke: 1px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#show-cardset p {
    font-size: x-large;
    color: white;
    -webkit-text-stroke: 1px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0px 0px 10px #000000;
}

#flex-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-gap: 3em;
   width: 80%;
   margin: 0 auto;
}

.flex-item {
    background-color: #e4000f;
    padding: 18px;
    text-align: center;
    box-shadow: 0px 0px 10px #000000;
}

.flex-item h1 {
    font-size: xx-large;
    color: white;
    -webkit-text-stroke: 1px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#card-list {
    font-size: 25px;
    overflow: auto;
    height: 750px;
    background-color: #e4000f;
    box-shadow: 0px 0px 10px #000000;
}

#card-list-panel h2 {
    font-size: large;
    color: white;
    -webkit-text-stroke: 1px black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#show-card-info h1 {
    font-family: 'Pokemon Solid', sans-serif;
    color: #FFCB05;
    -webkit-text-stroke: 2px #3466AF;
}

#show-card-info h2 {
    font-size: x-large;
    color: white;
    -webkit-text-stroke: 1px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#show-card-info h3 {
    font-size: x-large;
    color: white;
    -webkit-text-stroke: 1px black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#show-card-info img {
    width: 300px; /* Set your fixed width */
    height: 400px; /* Set your fixed height */
    object-fit: fill; /* or "contain" depending on your preference */
}

#header-text {
    position: sticky;
}