body {
	display: grid;
	grid-template-columns: 2fr 8fr
}

#show-cardset img {
    width: 200px; /* Set your fixed width */
    height: 200px; /* Set your fixed height */
    object-fit: cover; /* or "contain" depending on your preference */
}